.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-facebook {
  width: 30px;
  height: 30px;
  fill: rgb(28, 134, 255);
}

.icon-instagram {
  width: 30px;
  height: 30px;
  fill: rgb(255, 106, 131);
}

.icon-telegram {
  width: 30px;
  height: 30px;
  fill: rgb(13, 185, 228);
}

@media (max-width: 1200px) {
  .footer-facebook {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1200px) {
  .footer-instagram {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1200px) {
  .footer-telegram {
    width: 22px;
    height: 22px;
  }
}
